[2015-09-17 14:12] isocolsky opened #2 "Handle BIP44 & P2PKH wallets"
In the meantime, the tool should issue a warning if the wallet is a non-BIP45 wallet (checking the `wallet#derivationStrategy` attribute being either equal to `'BIP45'` or `undefined`).

[2015-09-17 19:57] javierbitpay commented on #2
Update with this control. Thanks!

[2015-09-23 11:36] isocolsky commented on #2
done!

[2015-09-23 11:36] #2 closed

[2015-09-23 11:37] isocolsky opened #16 "Fee should be defined in one place only"
Preferably in the Service layer. Also, all amounts should be handled in the same unit (btc or satoshis) but not mixed.

[2015-09-30 13:48] gabrielbazan7 opened #23 "Mixed backup sources not supported"
JSON backup and Mnemonic backup mixed

[2016-02-23 23:50] zikomoto opened #24 "2 of 3 accounts can't be recovered"
Hi , i'm trying copay recovery , and i can recover 3 of 3 accounts , but when using 2 of 3 accounts with the mnemonics in the 3 respective accounts with 2 signatures , i see that the addresses generated to be checked doesn't correspond to their paths for example
with the mnemonics :
behind family still perfect aisle tobacco spatial rocket clinic faint siege garlic
balcony anger crack snow skin dev

[2016-02-24 02:02] zikomoto commented on #24
Note that I modified a little the code so that I can visualize the addresses creation

[2016-02-24 11:12] matiu commented on #24
thanks for the report, let us checkit and we will get back to you.

[2016-02-24 17:32] zikomoto commented on #24
thanks

[2016-02-25 21:14] gabrielbazan7 commented on #24
There was a problem. Now I can see the address that you expect ( 3LE3qNjDQ8rQHSH4UCfdjdYorSaZN6jpae ). Thanks for the report.

[2016-02-25 21:15] #24 closed

[2016-02-28 12:57] martsch opened #26 "Could not build tx"
I you try to do a 2 of 3 recovery, you will get the following error message:

See also here:
<img width="800" alt="bildschirmfoto 2016-02-28 um 13 54 38" src="https://cloud.githubusercontent.com/assets/1178178/13379316/d5dc9dae-de22-11e5-9fc9-d1ba229d3070.png">

steps to reproduce:
1) add a 2of3 wallet recovery
2) as a Mnemonic seed you can use:
2a) glass swift lift mouse amount drip mind twenty i

[2016-02-29 00:41] zikomoto commented on #26
coins , sent , find my message

[2016-02-29 00:49] zikomoto commented on #26
dc6b52ef52ed214183004705cc182cf86588ed51

[2016-04-24 20:50] thephez opened #36 "Recovery with hardware wallet as a cosigner"
This is more of a feature request than an issue.  It would be nice to have a method of getting the account balance and an unsigned transaction for wallets that use a hardware wallet as a cosigner.  Even just getting the account balance per used address based on the public key only exports would be a helpful option.

[2016-04-25 11:52] matiu commented on #36
See
https://github.com/bitpay/copay/blob/master/backupRecovery.md

If you are using the same BWS server were the wallet was created, with only the mnemonic of a software wallet cosigner, you can see the balance.

If you are using a new BWS, with a wallet `export` you can recreate the wallet on the new BWS and see the balance.

[2016-04-25 11:52] #36 closed

[2016-04-29 15:55] thephez commented on #36
Thanks. That's exactly what I needed.  I've been doing some wallet restoration testing using testnet multisig accounts and can't restore them from the wallet seed (it generates a "Could not import: Not authorized" error).  I can restore successfully from an export.

Does the Wallet Seed import not work for Testnet accounts?  The Import Wallet -> Wallet Seed tab does not provide a TestNet switch li

[2016-06-22 01:22] ridgelawrence opened #37 "iPad Pro App Generated and Received funds, shortly disappeared afterwords as if first boot"
I have the blockchain info and everything, funds are not accessible - tried everything from restoring backup using word phrase (only backup I had) - on OS X and iPad, along with this tool.

It's a 1-signer (non-multi) wallet.

Thanks in advance!

[2016-06-22 02:03] matiu commented on #37
hi,

what you.mean exactly that funds are not accesible? could.you share a
screenshot?

also, in which address are your funds? so we can check it in the db.
On Jun 21, 2016 10:22 PM, "ridgelawrence" <notifications@github.com> wrote:

[2016-06-22 03:59] ridgelawrence commented on #37
No the coins transferred and are visible and not moving on block chain; I mean, despite this the app has worked great on iPad, but sometime very shortly after receiving funds today on copay for iOS (iPad Pro latest software), the app crashed (no software updates or related actions that would externally cause this) and when I used the given backup phrase for the wallet, it only had ~8 transactions

[2016-06-23 17:04] ridgelawrence commented on #37
@matiu Apologies - didn't notice you were in bitpay org.

Here's the address: [1LsRmQ3VcZbZ8cDcfzpNjuHeZ8bqTSEW31](https://blockchain.info/address/1LsRmQ3VcZbZ8cDcfzpNjuHeZ8bqTSEW31)

Thank in advance!

[2016-06-25 06:55] ridgelawrence commented on #37
Wallet was restored after some various attempts using similar fixes by users on reddit, for example, and documentation on the main copay app

TY!

[2016-06-25 06:55] #37 closed

[2017-08-02 11:48] matiu opened #49 "Support BCC"

[2017-08-03 00:33] ChairmanTubeAmp commented on #49
It appears that the recovery tool does not support customizable BIP44 Derivation Paths. For Copay users with hardware keys this is a requirement. For instance, the default Ledger derivation path would be `m/48'/0'/1'`.

[2017-08-12 15:14] martinus commented on #49
I've noticed that BCH support has been added, and it has worked fantastically for me. Thanks a lot!

[2017-08-15 15:48] nsmith543 commented on #49
matiu, I have some funds in a 1-of-3 multi-sig, but I don't have the mnemonic or wallet backup for 1 of the 3 wallets. I have backups and mnemonics for the remaining two. Am I able to move the BCH from this wallet using the recovery tool?

For testing, I created a 1-of-2 on BTC testnet, sent it some coins, and tried to recover funds using the recovery tool. It only returned a balance when I inputt

[2017-08-15 17:01] matiu opened #54 "Support recovery with N mnemonics and M-N xpubs (or wallet backups)"

[2017-08-15 17:02] matiu commented on #49
@nsmith543 In a M-N wallet, with M<N,  is possible to recover the funds using only N mnemonics and M-N extended public keys (of the remanning copayers), but the recovery tools does not support that. Copay does, but it does not support BCH.  We dont have immediate plans to support this, I have created a ticket so you can subscribe or ask a dev to implement it: https://github.com/bitpay/copay-recove

[2017-08-15 17:02] insiderq commented on #54
+1

[2017-08-15 17:24] nsmith543 commented on #49
@matiu thank you, I will subscribe to that ticket. One question, am I misunderstanding, or when you say "is possible to recover the funds using only N mnemonics...", should that not read "M mnemonics"? The recovery tool already supports situations when you have all N mnemonics, does it not? Thanks again.

[2017-08-15 17:31] matiu commented on #49
@nsmith543 you are right, I have updated the comment.

[2017-08-15 18:02] nsmith543 commented on #54
Would greatly appreciate implementation, as I have BCH in a 1-of-3 and I only have backups & mnemonics for 2 of the copayers.

Thanks

[2017-08-16 11:07] got3nks opened #55 "Incorrect backup password"
We are trying to recover BCH from a 2-of-3 multisig wallet.

We created the wallet using Bitcore-wallet-client's createWallet("wallet name", "copayer name", 2, 3, {network: 'livenet'}, ...) and two joinWallet(secret, "copayer name", {}, ...).

We have 3 files:
alice.dat
bob.dat
carl.dat

This is what a dat file looks like:
{"network":"livenet","xPrivKey":"...","xPubKey":"...","requestPrivKey":"...

[2017-08-16 13:09] JDonadio commented on #55
You must to use the encrypted file. These files are unencrypted.

[2017-08-16 13:16] got3nks commented on #55
How to use the unencrypted version instead? Or how do I produce the encrypted version, using Bitcore-wallet-client?

[2017-08-16 13:21] JDonadio commented on #55
Just use this site: https://bitwiseshiftleft.github.io/sjcl/demo/

Put your backup there and then use encrypt (down arrow) to get the ciphertext.

[2017-08-16 13:30] #55 closed

[2017-08-16 13:37] got3nks commented on #55
Thank you, it worked!

[2017-08-16 14:26] AlwaysCatch opened #56 "The BitPay and Copay recovery tool showing Zero balance."
I transferred my bitcoins to new wallet, and entered the old wallet seed into BitPay/Copay recovery tool but after scan its showing Zero balance, instead of the old BTC balance. Whose equivalent Bitcoin Cash BCC/BCH I suppose to receive. Can someone please help.

[2017-08-16 14:41] JDonadio commented on #56
Are you sure that the transaction was made before the fork?. Are you selecting bch/livenet as main chain to scan your BCH?

[2017-08-16 14:52] AlwaysCatch commented on #56
Sorry for Confusion and Thank you for response.
Mistakenly I selected the default chain btc/livenet instead of bch/livenet. It's there now.
Thanks again.

[2017-08-16 14:57] #56 closed

[2017-08-16 16:15] azuli11 opened #57 "put a wrong address to recover BCH"
So i used the tool to recover my BCH (https://blog.bitpay.com/bitcoin-cash-recovery/amp/) and i wasn't thinking so i sent the recovered BCH to my Copay BTC address... the question is: where the hell are they?! Is there a way to trace the destination?

[2017-08-16 16:35] got3nks commented on #55
Being a large wallet, I've been banned from cashexplorer.bitcoin.com Bitcore API.

*{"status":429,"error":"Rate limit exceeded"}*

Do you have any suggestion, is there any release of Bitcore for BCH available so we can install it on our own servers?

[2017-08-16 17:36] JDonadio commented on #57
Try scanning the same seed again.

[2017-08-16 18:20] azuli11 commented on #57
thanks that worked!

[2017-08-16 19:54] #57 closed

[2017-08-17 15:16] MeniRosenfeld commented on #49
@matiu - I have an old 2-of-3 Copay wallet that does not use mnemonics. Is it possible to extract the BCC from it?

[2017-08-17 15:25] matiu commented on #49
yes. The tool works with old backups also.

On Thu, Aug 17, 2017 at 12:22 PM, MeniRosenfeld <notifications@github.com>
wrote:

--
Matías Alejo Garcia
@ematiu
Roads? Where we're going, we don't need roads!

[2017-08-17 16:05] narly123 commented on #49
Dear fellow Copay users.
I am new to copay, only 2 months using my copay wallet on my phone. I have followed the steps to try and get Bitcoin Cash on the recovery tool, but the system simply says "Mnemonic wallet seed is not valid". I am sure the words I am entering are correct as I recheck them on my copay wallet back-up.
What should I do?
All advice appreciated.

[2017-08-18 01:38] maxbron08 commented on #49
I followed the instructions written out here: https://blog.bitpay.com/bitcoin-cash-recovery/amp/ but can't seem to be certain it's working properly.

I had BTC in my BitPay wallet before the HF. I moved them to a new a Copay wallet as per the instructions.  I used the recovery tool and it found that there were was no BTC in the original wallet, assuming because I had transferred them. I sent the B

[2017-08-18 02:51] theruddfamily commented on #57
I did the exact same thing but I tried scanning the same seed again and it shows a zero balance. Does it take some time for BCH balance to show up?? TY!!

[2017-08-18 02:53] theruddfamily opened #58 "Sent my BTH to my copay BTC wallet by accident."
So i used the tool to recover my BCH (https://blog.bitpay.com/bitcoin-cash-recovery/amp/) and i wasn't thinking so i sent the recovered BCH to my Copay BTC address... the question is: where the hell are they?! Is there a way to trace the destination?

[2017-08-18 02:54] theruddfamily commented on #58
I tried to use the seed again to rescan the wallet but it shows zero balance. It's been about 5 hours since I did the transfer mistake.

[2017-08-18 03:29] azuli11 commented on #57
I think i waited a couple of hours before scanning again. Also make sure
you scan all your wallets in case you have more than 1.

On jue., 17 ago. 2017 11:51 p. m. theruddfamily <notifications@github.com>
wrote:

[2017-08-18 10:21] RCasatta commented on #54
I am looking for this feature too, any ETA for this?

[2017-08-18 10:28] rickynkl opened #59 "BCH funds do not match BTC after recovery"
With a btc 2.22. After recovering I only get 0.00172129 btc value worth. What does it translate into?dont quite get it. Can anyone explain?

[2017-08-18 12:31] JDonadio commented on #58
Check this out https://github.com/bitpay/copay-recovery/issues/57

[2017-08-18 12:32] JDonadio commented on #59
Try using a major gap like 30

[2017-08-18 13:10] rickynkl commented on #59
I followed the instruction of moving my funds to another copay wallet and
did the recovery using the original wallet subsequently with 0.001721 btc
in my balance. Thus the 0.001721 btc( as my BCH value). Could this be the
reason? Also I'm moving back my 2.22 btc back to my original wallet. Can I
recover back my 2.22 BCH?

On Fri, 18 Aug 2017 at 8:32 PM, Javier Donadío <notifications@github.com>
wr

[2017-08-18 14:11] theruddfamily commented on #57
Ok I'll try it again tonight.

[2017-08-18 14:38] azuli11 commented on #58
copy pasted my question? lol

[2017-08-18 19:07] gdbit commented on #49
Do you need to have a desktop wallet to use the recovery tool? Currently I only have an iPhone copay wallet.

[2017-08-18 23:23] theruddfamily commented on #58
Yes I did! Sorry, but my issue was exactly the same as yours.

[2017-08-19 02:32] theruddfamily commented on #58
Ok it still shows zero funds after rescanning.  Any other ideas?

[2017-08-19 02:33] theruddfamily commented on #57
It still shows a zero balance. Any other ideas?

[2017-08-19 04:02] narly123 commented on #49
I just have an iPhone copay as well.
After about 8 times following the website instructions it finally worked and I was able to transfer my bcc into a btc.com wallet.
Keep trying

Sent from my iPhone

[2017-08-19 05:01] karthik-swaminathan opened #61 "Identifies BTC balance, but funds not reflecting after transfer"
Hello,

The tool was able to correctly identify balance and displayed it as such - ready to transfer.

![screen shot 2017-08-19 at 10 23 10](https://user-images.githubusercontent.com/31150899/29483674-296ad686-84c9-11e7-946b-f8388eb100ec.jpg)

I entered the destination BCH address (although it displays BTC value, I think we should indeed put in a BCH address in the field).

![screen shot 2017-08-1

[2017-08-19 11:48] filippost opened #62 "LOST BCH . INSUFFICIENT FUNDS ."
I made a withdrawal from my Kraken account to my Copay wallet.

I have already used the https://bitpay.github.io/copay-recovery/ to try to move my BCH to a different wallet which supports BCH . However , your recovery tool says that I have insufficient funds ( 0 BCH ) . However , I can clearly see at the Blockchair site that my adress contains the amount of BCH i sent there .

I have also used the

[2017-08-19 12:33] orbano opened #63 "Mnemonic wallet seed not valid"
Hi,
I keep having an error message 'mnemonic wallet seed not valid' while trying to scan my wallet.  While my backup phrase seems to be correct (12 words... what other checks could be done?).  The fact that is my phrase is made of french words, containing some accented characters (e.g. 'é').  Could be the origin of the error?  Otherwise, any idea of the origin?
Thanks for feedback.
Olivier

[2017-08-19 14:55] erifomi opened #64 "Recovery tool is not helping"
I send my BTC to Copay at Jul 27, 2017. I read that text https://blog.bitpay.com/bitcoin-cash-recovery/ and everything looks very simple. I already send my BTC from Copay acc to Bitpay acc. When I go to https://bitpay.github.io/copay-recovery/ make bch/livenet and write down my phases and password I can see, that my BCH acc in Copay is 0,0000000 (Available balance: 0.00000000 BCH. Insufficents fun

[2017-08-19 15:30] gdbit commented on #49
Worked! Thanks.

[2017-08-19 18:40] karthik-swaminathan commented on #61
Oh bloomin' heck - have I actually performed a BTC transfer to a BCH address??!?

Any way to retrieve them?

[2017-08-20 03:49] rickynkl commented on #61
Kar thick,
Was about to warn u coz I did the same thing and all my btc funds are gone. Should not send your btc funds to your BCH wallet. I made the same mistake coz we did not switch to  bch/ live net. However u can still get your BCH. Switch it BCH/livenet

[2017-08-20 03:51] rickynkl commented on #61
I wrote to support and they suggest I write to BCH wallet support. Till now I've not received a response. If u know how pls write as I want to know too. Very painful experience. I felt as if I've switch btc for BCH.

[2017-08-20 10:18] got3nks opened #65 "BCH large wallet: Rate limit exceeded"
Being a large wallet, I've been banned from cashexplorer.bitcoin.com Bitcore API.

_{"status":429,"error":"Rate limit exceeded"}_

Do you have any suggestion, is there any release of Bitcore for BCH available so we can install it on our own servers?

[2017-08-20 12:00] karthik-swaminathan commented on #61
Thanks, @rickynkl - but no luck. Switching it to bch/livenet doesn't reflect any funds. Not heard back from support either. This has been a disaster...

[2017-08-20 12:07] rickynkl commented on #61
Your BCH should still be in there. I managed to extract it out and transfer to a BCH wallet

[2017-08-20 13:23] karthik-swaminathan commented on #61
Nope - the BCH balance reflecting in the wallet I transferred the BTC to was something that I already had. It has nothing to do with the "reclaimed from fork" stuff.

[2017-08-20 13:48] rickynkl commented on #61
Yes at first I mistakenly search funds on btc/livenet mode and my btc funds appeared and I sent it to my BCH wallet thinking it was BCH ( I had btc before Aug 1). And it did not appear in my BCH wallet( of course it would not coz they are btc funds). Big mistakes! Lost all my btc funds. Then I realised I should still have my BCH to claim from my copay  btc wallet. So I went back to recovery tool a

[2017-08-20 13:56] karthik-swaminathan commented on #61
You mean: you transferred BTC to BCH too (having searched with btc/livenet), it did not appear in the BCH wallet, then re-visited the tool (this time searched with bch/livenet)?

Yes, that's fine - already did it and recovered - but what about the btc that was transferred to the bch wallet in the first place? That's gone for good?

[2017-08-20 14:00] rickynkl commented on #61
Im in exact same situation as yours. Copay support says it's gone and can't be reversed and suggested I write to the receiving BCH wallet support. So far no response from BCH wallet support.

[2017-08-20 14:17] karthik-swaminathan commented on #61
Holy moly... Yes, I wrote to bcc-wallet.btc.com's support too. Yet to hear from them. Even shared the address to which the BTC was inadvertently sent.

Collateral damage, damn!

[2017-08-21 01:54] karthik-swaminathan commented on #61
After an insane amount of reading and research, I got it done. @rickynkl - which BCH wallet do you use? I will try my best to help you out.

[2017-08-21 01:58] rickynkl commented on #61
Thanks. What a relief to hear u got them back. Mine is Freewallet BCH

[2017-08-21 02:01] karthik-swaminathan commented on #61
Can you share a link to it? Is it a web or desktop or mobile app?

[2017-08-21 02:02] rickynkl commented on #61
It's a mobile app. Android

[2017-08-21 02:03] karthik-swaminathan commented on #61
Oh no! If its these guys, they won't share your private keys with you! Without which, its going to be hell! Is this the service?

https://freewallet.org/support/knowledgebase/where-are-my-private-keys/

[2017-08-21 02:04] rickynkl commented on #61
Yes

[2017-08-21 02:06] rickynkl commented on #61
I hope they do. It must be buried somewhere in there. I sent them my txid

[2017-08-21 02:08] karthik-swaminathan commented on #61
According to their FAQ (check the link above), they do not share private keys with individuals.

You will need to tell THEM to retrieve it for you (importing BTC is possible from a BCH address; I just did it) and then transfer it to a BTC address that you specify.

If you don't mind, can you share the transaction hash or destination bch wallet address?

[2017-08-21 02:15] rickynkl commented on #61
I forward to u later as my records is stored in another device. Thanks

[2017-08-21 02:16] rickynkl commented on #61
Appreciate your help here

[2017-08-21 02:17] rickynkl commented on #61
It's a relief to hear it's possible to retrieve btc from BCH address

[2017-08-21 02:19] karthik-swaminathan commented on #61
It certainly is, I have just done it, I won't be joking around - this is big, hard earned money. But I'm afraid in your case, you really have to push FreeWallet because they own the private keys (without which, it is next to impossible). If you are active on social media, Tweet them. Or reddit. Or buzz them on Facebook and LinkedIn.

[2017-08-21 02:27] rickynkl commented on #61
Yes it certain is. Very very hard earned. The community needs to help and learn from each other with this newly acquired knowledge

[2017-08-21 13:04] henryls commented on #64
try leaving the backup and spending pass word blank that fixed it for me

[2017-08-22 02:26] rickynkl commented on #61
On Mon, 21 Aug 2017 at 10:19 AM, karthik-swaminathan <
notifications@github.com> wrote:

Freewallet have responded yesterday. They said they will refund. Will take
some time they said. Thanks for your help. Phew!

[2017-08-22 02:39] karthik-swaminathan commented on #61
Delighted to know that, @rickynkl. Happened to see a review on the Play Store (BitcoinCash wallet by FreeWallet) dated 20th August and wondered if that was you. Similar complaint. Transferred BTC to BCH wallet and therefore stuck.

[2017-08-22 02:45] rickynkl commented on #61
Wrote to them since last week within the in app Bitcoin cash too. Yes I
also wrote in on the review too. As suggested by bitpay to write in to
receiving bcc wallet. That's an indication that's it can be retrieved. I've
learnt from this. Thanks

On Tue, 22 Aug 2017 at 10:39 AM, karthik-swaminathan <
notifications@github.com> wrote:

[2017-08-22 12:29] fczuardi commented on #54
Would the fix for this issue help in the recovering of BCH of a 1-of-2 old Copay wallet where I have the json file backup of only 1 of the copayers?

[2017-08-22 12:33] RCasatta commented on #54
@fczuardi yes, that is exactly the situation where it helps

[2017-08-22 12:41] JDonadio commented on #63
For spanish the accents are a problem, try matching your words with the french word list: https://github.com/bitcoin/bips/blob/master/bip-0039/french.txt

[2017-08-22 13:44] orbano commented on #63
Thanks for the list with the words.
Help me to see where was my mistake!
It works...

[2017-08-22 13:44] #63 closed

[2017-08-22 13:45] JDonadio commented on #63
Glad to help!

[2017-08-22 17:29] maxzahariadis commented on #64
Same issue. Deposited BTC to copay 2-2 wallet before the fork. I then followed the instructions and moved BTC to another wallet before trying to recover my BCH with the recovery tool. Whilst searching, it only mentioned BTC, and not BCH. And in the end it said "insufficient funds". Can someone help please?

[2017-08-22 21:26] adenbeckitt commented on #64
Had any luck? I am getting the same error.

[2017-08-23 00:20] henryls commented on #64
worked fine for me you have to select the bch/livenet option (default is btc).  then don't put anything in the backup or spending password fields. it should find your funds and you can then send them to electroncash.

[2017-08-23 00:53] adenbeckitt commented on #64
Tried it every which way, no dice. Then found someone comment to say just keep trying it. Tried it about 6 times, with the exact same stuff in and eventually it just worked. Very strange.

However, to comment on what you said I definitely had my password in when it worked.

[2017-08-23 07:32] lskcheryl commented on #64
My recovery has been stuck on the scanning page for the past hour and I'm unsure if it's hung and if I should refresh the browser. Has anyone else encountered a similar issue? Thanks!
![screen shot 2017-08-23 at 15 28 12](https://user-images.githubusercontent.com/23583956/29603846-3761d30a-8818-11e7-9e41-7516ec604631.png)

[2017-08-23 13:47] adenbeckitt commented on #64
@lskcheryl Yeah, I had that problem once. Just cancel it and start again.

[2017-08-23 19:53] insiderq opened #66 "Can not set up custom derivation path for mnemonic"
As for now this tool is probably the easiest way for withdrawing bitcoin cash, but it does not support mnemonics of other wallets, any chance that can be added?

[2017-08-23 21:57] nashtu3000 commented on #65
Same issue as well, do you have any plans to fix this?

[2017-08-24 12:50] JDonadio commented on #66
Some configurations like the derivation path were set following the default values for Copay/BitPay wallets. If for some reason your mnemonics are not working with this tool we can check the case and add it as a feature request.

[2017-08-24 13:22] insiderq commented on #66
Basically that is the case:
1 - I used blockchain.info wallet
2 - I've imported it's mnemonics with custom derivation path (see the issue https://github.com/bitpay/copay/issues/3708)
3 - now i can't use copay recovery.

Feature request?)

[2017-08-24 13:25] JDonadio commented on #66
Exactly. We use as derivation paths:

https://github.com/bitpay/copay-recovery/blob/master/src/app/services/recovery.service.ts#L27

[2017-08-25 03:51] Gooperative commented on #49
Tell me please, how to use correctly "RECOVERY TOOL" ?
Where can I find the manual?

[2017-08-26 06:47] armanospan commented on #49
I have a 1-of-3 Copay wallet and had BTC there before the split. I have mnemonic phrases and spending passwords of all 3 copayers, but the tool doesn't work for me. What are the possible reasons?

[2017-08-26 15:13] heynano commented on #49
@maxbron08 @Gooperative @estnomad I just finished scanning for my BCH with the instructions here https://blog.bitpay.com/bitcoin-cash-recovery/amp/ PAY ATTENTION to the chain you're scanning, it should be BCH/livenet

Hope this helps. Cheers!

[2017-08-26 17:19] idoganov commented on #54
Are there any approximate terms? How soon can this be realized?

[2017-08-27 03:17] chisel182 opened #67 "wallet recovery tool"
I have tried to use to copay recovery tool to retrieve any BCH. But I have hit a road block. Not sure what the  backup password is it the 12 word seed or ???

[2017-09-01 10:00] got3nks commented on #65
You can now run your own Bitcore node on any Bitcoin fork, https://blog.bitpay.com/bitcore-v5/

Thank you BitPay! <3

[2017-09-01 10:00] #65 closed

[2017-09-02 15:16] johnvamo opened #68 "Copay shared wallet along with trezor integration for Bitcoin Cash Recovery"
I have a copay shared wallet which I use with trezor as they are integrated. (2-2 : two copay users - two required to sign)

https://blog.bitpay.com/bitcoin-cash-recovery/

I am trying to recover the Bitcoin cash as I have BTC before the hard fork in that wallet.

 https://bitpay.github.io/copay-recovery/

I am asked to put down:  ​Recovery phrase (mnemonic) or File/Text backup. As I am using Trez

[2017-09-03 10:08] tomzhi commented on #64
@lskcheryl I have just try @henryls solution and it works for me. Moreover, the correct process should be less than 2 minutes. The display information should be not only "Please wait This process could take several minutes" but also another extra 3 lines with your bch balance sheet displayed and scanning your history address number increasing. So that you could know your process is working correct

[2017-09-07 06:23] dan-da commented on #54
+1

[2017-09-07 07:44] RCasatta commented on #54
@idoganov @dan-da have a look at https://github.com/bitpay/copay-recovery/pull/60
it's unofficial but I can confirm I used it with N of M availale backup to recover my BCH

[2017-09-10 15:46] got3nks opened #69 "Could not build tx: Error: Invalid outputIndex, received undefined"
I cannot recover BCH funds from our *large* wallet.

I edited the javascript file to point at my localhost node, I'm running Insight-API beta on Bitcore v5 beta (linked to a BCH full node).

[code]

[2017-09-22 09:52] rickf44 opened #75 "can't claim bch using recovery tool"
i tried using the recovery tool to claim my bch

after entering the seed phrase and selecting the correct chain, the tool found my bch and showed the expected balance

on the next screen i entered a valid bch address, but when i click "transfer" i get the red error message

"please enter a valid address"

i have triple checked the address and checked for leading/trailing spaces and even tried reus

[2017-09-22 10:23] matiu commented on #75
Hi. The tool still uses old version numbers for addresses for bch.

With which letter the address starts?

On Sep 22, 2017 06:52, "rickf44" <notifications@github.com> wrote:

[2017-09-22 10:28] rickf44 commented on #75
hi! thanks for responding.  i tried these:

14sT_____ (created using bitcoin.com android app)

1LbF_____ (created using bitcoinabc)

1Npv_____ (created using bitcoinabc - this is a known good addresss that previously received funds)

[2017-09-22 12:19] rickf44 commented on #75
so it turns out the tool expected *new* addresses.  i downloaded a beta of the copay android app and used it to generate a new bch address that starts with a C.  i used thiss in the tool and now i get a different error message:

"Could not build tx: bitcore.ErrorTransactionFeeErrorTooSmall: Fee is too small: expected more than 667 but got 200 - For more information please see: https://bitcore.io/a

[2017-09-22 12:58] matiu commented on #75
Hi, thanks for the response.

We will fix that shortly. We will update this ticket once it is fixed.

[2017-09-22 14:33] rickf44 commented on #75
i think the tool should accept any valid bch address, perhaps it might warn if the address being used is vague, but shouldn't block it

[2017-09-22 14:42] matiu commented on #75
we should definitely add a warning/explanation, but accepting addresses with the old version could lead to funds lost if the user uses a Segwit p2sh address.

[2017-09-22 14:44] rickf44 commented on #75
i understand the logic but literally no apps except the beta version of the copay wallet use the new address format so the old format ought be be usable at least until most wallets have upgraded.   i think a stern warning should suffice.

[2017-09-22 15:57] jesusangelm commented on #75
Same issue here using a address starting with "12Fk" from a Keepkey...

[2017-09-22 17:55] matiu commented on #75
Rick44 please note you can import directly your seed.in Copay Beta, with
bch support.

On Sep 22, 2017 12:57, "Jesus Marin" <notifications@github.com> wrote:

[2017-09-22 18:51] matiu commented on #75
@rickf44  ^

[2017-09-22 19:10] rickf44 commented on #75
@matiu I tried this and it failed.  I got an error message but didn't report it  :( sorry.

I noted in the copay beta that the wallet service api for btc and bch are the same.  That seemed incorrect to me, perhaps there is a bug?

[2017-09-22 19:21] rickf44 commented on #75
@matiu I tried this again.  I installed the copay beta, on the first screen i chose "restore from backup", on next screen i entered my seed words and selected BCH. this time no error but the wallet shows a 0 balance :(

[2017-09-22 19:30] rickf44 commented on #75
@matiu FYI just to be sure I used the recovery tool again to ensure that the funds are still there.  they're still there, and my seed phrase works.  there's 27+bch so there's more than enough to pay the fees.  trying to send them to copay wallet still produces the "Could not build tx: bitcore.ErrorTransactionFeeErrorTooSmall:" error.  FWIW.

[2017-09-25 02:11] jayd3e commented on #75
I'm also experiencing this issue +1.

[2017-09-25 19:18] nicaport commented on #75
Also experiencing this issue where the Recovery Tool finds my BCH but cannot transfer it. Tried various valid addresses and still receiving the error 'Please enter a valid address.' At the very least, Copay REALLY needs to put a warning on the recovery page until it is fixed. What is the ETA for this?

Can anyone suggest another splitting tool?

[2017-09-25 19:25] JDonadio commented on #75
Can all of you guys try one more time? we recently sent a fix so hopefully will be working ok now.

[2017-09-25 20:00] jesusangelm commented on #75
still same issue with message: "Please enter a valid address."

[2017-09-25 20:03] nicaport commented on #75
Yes, same here.

[2017-09-25 20:38] nicaport commented on #75
Any ETA for a fix?

[2017-09-25 20:54] JDonadio commented on #75
## For BCH scan
Please, try using the [translator addresses tool](https://jdonadio.github.io/address-translator/). Once finished the scan process, translate your address and use that new one.

[2017-09-25 21:15] nicaport commented on #75
So if you 'translate' the original BCH address and use that one for the transfer, the BCH funds will arrive at the original BCH address? Has this been tested? I don't want to lose any coins.

[2017-09-25 21:24] jesusangelm commented on #75
i tried that,
  the tool translate the BCH address to a new BCH address  starting with "C" the tool worked well for me and i receive at the original BCH address...

  the unique problem for me is the address translator... this disable the "resultAddress" input and you can not copy the new address... i had to enable it again editing the HTML source code in the DOM.

[2017-09-25 21:33] nicaport commented on #75
There is an error icon when hovering above the new address, but I was able to copy it anyway.

[2017-09-25 21:50] nicaport commented on #75
And yes, I can confirm that the translation tool works. I received the BCH to the original address. Thank you.

[2017-09-25 22:32] nicaport commented on #75
I just tried a second transaction for a much larger amount, and I do not see it on the blocktrail explorer. However, the recovery tool said it was successfully sent. Please help. I sent a large amount, and now there is no trace of it.

[2017-09-25 22:37] nicaport commented on #75
@JDonadio @matiu please help

[2017-09-26 02:03] alypseak commented on #68
Also searching for a solution to claim using copayers with trezor.
Does anyone have experience with this?

[2017-09-26 12:47] matiu commented on #75
@rickf44 The recovery tool accepts BCH address starting wiht C or H, which is a new convention to prevent errors (https://support.bitpay.com/hc/en-us/articles/115004671663-BitPay-s-Adopted-Conventions-for-Bitcoin-Cash-Addresses-URIs-and-Payment-Requests)

If you need to send to "old" addresses, and you are SURE those are BCH addresses, you can "translate" them using https://bitpay.github.io/addres

[2017-09-26 12:47] #75 closed

[2017-09-26 13:34] JDonadio commented on #67
Backup could be:

1- 12 words (recovery phrase)
2- File/text format (exported from wallet)

From 1: password is optional (if you set one at creation wallet time)
From 2: it's mandatory

[2017-09-26 18:09] nicaport commented on #75
@matiu your response has nothing to do with my question of where my money went. Perhaps you aren't a technical person, but I would like a valid and relevant response to my question as soon as possible.

[2017-09-26 18:11] nicaport commented on #75
Is bitpay's new business model to steal money? Because I used the translator tool and recovery tool as dictated in bitpay's posts, but it just swallowed my money - no trace of it on any BCH block explorer.

[2017-09-26 18:11] matiu commented on #75
@nicaport my response is for the OP, please feel free to open a new ticket describing your issue.

[2017-09-26 18:12] nicaport commented on #75
I cannot claim BCH using your recovery tool. Is that not the subject of this post?

[2017-09-26 18:14] matiu commented on #75
it was mentioned already you need to use the translator if you want to send coins to an old BCH address.

If you want more information about your case, please open a ticket providing relevant information so we can check your case.

[2017-09-26 18:23] nicaport opened #78 "Recovery tool not delivering BCH despite 'successful' message output"
Hello, as I mentioned in a previous post that was closed by the bitpay team after not resolving the issue, my money has been taken by using the copay recovery and copay address translator tool. As I explicated in the previous post that was closed, I used both tools successfully to recover a small amount of BCH from one of my wallets. Then I tried using the same tools in the same manner for a much

[2017-09-26 21:01] jockeo1 opened #79 "My BCH are found but I cant transfer them to a BCH adress"
Hello!

I had bitcoins at my copay wallet and I wanted to retrieve my bitcoin cash and followed the guide @  https://blog.bitpay.com/bitcoin-cash-recovery/

My BCHs are found after I put in my recovery phrase and scanned and everything is good but when i press the transfer button (after I filled in a BCH adress) i get the message **"Please enter a valid adress"**?

I tried to send to different BCH

[2017-09-26 21:34] nicaport commented on #79
Yes, I had this problem yesterday.  They are using a new address format and are telling everyone to use their address translator tool. But I used it, and then input the translated address into the recovery tool. It said the funds were successfully sent, but then the funds never arrived! My 5k has now vanished into thin air, and the BitPay team has not yet responded to me. When I voiced my concern

[2017-09-26 21:35] nicaport commented on #79
Do NOT use this tool: https://bitpay.github.io/address-translator/.

[2017-09-26 23:25] nicaport commented on #79
Still no response from the bitpay team? Copay is my preferred wallet on iPhone. I recommend it to everyone so this support is very disappointing. @JDonadio @matiu

[2017-09-28 08:03] GOF76 commented on #79
Hi there... i had the same problem, after i was recover the BCH and filled in the BCH Adress i get the mesage "please enter valid adress"??
can we please get any response from bitpay whats goin wrong?!

[2017-09-28 12:47] JDonadio commented on #79
Hi guys, please take a look there: https://github.com/bitpay/copay-recovery/issues/75#issuecomment-332187010

[2017-09-28 12:50] JDonadio commented on #68
Hi guys, please follow https://github.com/bitpay/copay/issues/6789

[2017-09-28 14:01] GOF76 commented on #79
hey JDonadio, i solved the problem i just updatet the wallet Version, now i can claim it directly in the bitpay wallet... thanks

[2017-09-28 17:29] JDonadio opened #80 "Error uploading backup file context"
Wallet 2-3. When I select an .aes.json file in the recover tool for the first backup, it pastes the resulting text string {“iv” … into all 3 backups inputs and it also duplicates anything I enter into the first Backup Password input into the other backups.

[2017-10-06 19:58] nicaport commented on #78
Would like to update and close this issue. I'm not sure if it was Copay's new Address Translator tool or the BCH network that caused the extreme delay of almost 72 hours, but I eventually received my BCH after using both the Address Translator and BCH Recovery tools provided by Bitpay. Again, not sure what the source of the delay was, but the transaction took almost 72 hours to even appear on the

[2017-10-06 19:59] #78 closed

[2017-10-07 17:53] jeedx opened #82 "Sweeping paper wallet via copay"
Have you guys incorporated a function to scan paper wallets for BCH? Right now, sweep function is only applicable to BTC wallet. Please advise.

[2017-10-08 04:30] kniraj opened #83 "BCH"
I had around 0.199164 BTC in my copay wallet on the 29th July 2017. I transferred these on the 13th Aug to my exchange.
Now when I try to recover the BCH for these (using the recovery tool), I constantly get the message "Available balance: 0.00000000 BCH. Insufficents funds."

Please assist. How can I recover my BCH

[2017-10-08 04:41] JDonadio commented on #82
Yes, for now we only have the BTC sweeping process available. Please open this feature request in the Copay issue section.

[2017-10-10 13:40] xanatas commented on #83
I have the same thing did not touch the copay funds since ever. its an old wallet hence the in-build function in the mobile wallet is not working. its a multisig wallet as well but it shows no funds on BCH and on BCT. any recommendations?

[2017-10-10 13:42] JDonadio commented on #83
Please, go to settings > bitcoin cash support and scan your wallets

<img width="372" alt="copay_-_copay_bitcoin_wallet" src="https://user-images.githubusercontent.com/13851807/31389509-9493e838-ada7-11e7-9513-79c19de01693.png">

Check if your wallets appear listed as available to duplicate

[2017-10-10 13:57] xanatas commented on #83
The wallet is too old it says not supported

[2017-10-10 14:00] JDonadio commented on #83
If that's the case, Copay/BitPay doesn't support the duplicate to BCH process for old wallets. Instead, please use our [recovery tool](https://bitpay.github.io/copay-recovery/) to scan your BCH and send the balance to a new fresh BCH wallet.

Note: ensure to select `bch/livenet` as chain to scan your BCH balance from your BTC wallet.

Hope that helps

[2017-10-10 14:04] xanatas commented on #83
I No it doesnt, as kniraj  stated in top comment this is what shows up after scan: "Available balance: 0.00000000 BCH. Insufficents funds." also if when I scan for btc/livenet

[2017-10-10 14:07] JDonadio commented on #83
Did you create your wallet from Copay/BitPay app? or did you import it from an external seed?

[2017-10-10 14:09] xanatas commented on #83
no the wallet was created with the copay app. multisig 3 out of 6 BIP45.

[2017-10-10 14:13] matiu commented on #83
@kniraj at what address do you have your BCH? Can you check that address on a bitcoin cash block explorer?  Like this one https://cashexplorer.bitcoin.com/

[2017-10-10 14:17] xanatas commented on #83
Thanks for the tool, i checked all my addresses, all Bitcoin Cash are there.

[2017-10-12 15:28] kniraj commented on #83
Hi, Thanks for responses, however no luck
1. I tried to use the wallet on my mobile to scan, but it did not return any result
2. On the Cash Explorer what address should I enter ? Is it the one which is shown on the wallet (like a hash string?)

[2017-10-16 13:46] xanatas commented on #83
Yes its your Bitcoin address where you think it has Bitcoin Cash funds in it.

[2017-10-16 13:47] xanatas commented on #83
Is there anything that I can check in the settings to debug the process or see a verbose output?
I have a lot of Bitcoin Cash stuck, Do you know another tool that can deal with Multisig cash sweeping?

[2017-10-21 01:11] gabrielbazan7 commented on #83
Hi ! we found the issue today. We are working on it. We will let you know when the new version is published. Sorry about that.

[2017-10-21 03:05] jeedx opened #84 "Sweep paper wallet for BCH"
We would like Copay to provide an update on subject feature and let the community know if there are any plans to add on this function? As of now, sweeping is only applicable for BTC..

[2017-10-21 03:05] #82 closed

[2017-10-21 11:06] kniraj commented on #83
That's a great news. Looking forward to it. Will this be a new version of the app or the recovery tool ?

[2017-10-21 13:07] JDonadio commented on #84
Nice idea, but you should open this ticket in https://github.com/bitpay/copay

[2017-10-23 12:34] johnvamo commented on #68
Hello,
I am still not having a clear answer.

now, I am having troubles withdrawing from a copay shared wallet integrated with Trezor... already three days without success.
Is the any issue? Trezor support says have reported several bugs, which have been checked by them. From their side they said everything is working...advise to contact copay support...please help us...we need urgently to withdra

[2017-10-23 13:35] matiu commented on #68
We are working to solve this issue right now. The correct open issue to check  updates is:

https://github.com/bitpay/copay/issues/6957#issuecomment-338650928

[2017-10-23 13:35] #68 closed

[2017-10-23 23:17] jeedx commented on #84
Thanks. Is there any plan? It will make so many lives easier.

On Sat, Oct 21, 2017 at 9:07 AM, Javier Donadío <notifications@github.com>
wrote:

--
Majid Ashraf
Research Associate at NJCEP, NJIT.
Vice President Indian Graduate Association, NJIT
Department of Chemical, Biological and Pharmaceutical Engineering,
New Jersey Institute Of Technology,
East Newark, 07103-3513
Voice : (563-508-8510)

[2017-10-23 23:41] gabrielbazan7 commented on #83
A new version of the recovery tool. And, It's already published !

[2017-10-28 15:20] kniraj commented on #83
Hi, I tried to search again today but I get the same message.

[2017-11-01 11:20] xanatas commented on #83
Same here, no funds found.

[2017-11-02 00:52] githoss opened #86 "Recovering fewer BCH than was in BTC wallet pre-fork"
Hi,
I had a BIP45 Copay wallet pre-fork (my backup is a long JSON file rather than a seed phrase--not sure when it switched or if relevant), that had for example **2** BTC in it.

When I run the recovery tool on BCH/livenet, with an Address Gap of 100, it only finds **0.5** BCH in it. This was the balance across the most recent 2-3 addresses, but the rest of my balance from older addresses (same w

[2017-11-02 19:01] danhowitt commented on #86
I am also having the same issue.

[2017-11-02 19:15] Gamboster commented on #86
Hello githoss.
Could you provide us the Wallet id corresponding to your Copay wallet bip45? So we can check. Thank you.

[2017-11-02 19:23] githoss commented on #86
Hi @Gamboster ,
My wallet ID is 27e35aba-fb86-4274-89e7-9c42ac55998e
Thanks,
H

[2017-11-02 20:01] Gamboster commented on #86
Thanks for the report. We will be reviewing the recovery tool, trying to find a solution.

[2017-11-10 16:00] xanatas commented on #86
I also have a bip45. same issue. can go with address gap whatever but really the wallet has only 15 addresses. and we find 0. not even a fraction.

[2017-11-10 19:32] Gamboster commented on #86
Hi guys,
We find the solution to the mentioned bug, and we are working on the fix. Once it is solved and published, we will let you know. We hope it is today.
Thanks for wait. Regards.

[2017-11-10 20:42] Gamboster commented on #86
Finally the fix was released. Try to claim your BCH now.

[2017-11-10 20:55] gabrielbazan7 opened #88 "Add version numbers to the tool"
This could be useful to know if the tool was well updated.

[2017-11-10 20:56] JDonadio commented on #88
+100!

[2017-11-10 21:44] githoss commented on #86
@Gamboster Amazing! It worked. Thanks so much!! Mil gracias.

[2017-11-11 21:15] morrisonbrett commented on #86
I'm having the same issue.  My older, Derivation Strategy BIP45 wallet had BTC in it pre-fork, and I'm not seeing anything in the recovery tool.  Wallet ID: 4b3133503ee52b85

[2017-11-11 23:26] morrisonbrett commented on #83
Same here. I have older (Non BIP44) wallet. Recovery tool yields nothing. Also tried many steps here: https://bip32jp.github.io/english/

[2017-11-12 00:27] gabrielbazan7 commented on #83
@morrisonbrett  1 - 1 wallet ?

[2017-11-12 00:37] morrisonbrett commented on #83
![image](https://user-images.githubusercontent.com/1159718/32694800-96324ef8-c6fe-11e7-917f-0fd6f4f58e9e.png)

[2017-11-12 00:39] morrisonbrett commented on #83
![image](https://user-images.githubusercontent.com/1159718/32694807-d6eaf986-c6fe-11e7-8134-202d82ed11ed.png)

[2017-11-12 01:32] morrisonbrett commented on #83
@gabrielbazan7 are my coins lost?

[2017-11-12 12:13] bitbillion commented on #83
Hai, anybody here can help me with my copay wallet problem.

My copay wallet btc is appear with zero balance when i make the duplicate to bch.

In bch wallet "scanning fund" (Please wait) until now nothing amount are showing. In my btc wallet balance is 0.00btc how can i get back my btc ???!

Please help me.

[2017-11-12 12:20] bitbillion commented on #83
Thanks god! Its just appeared :D

[2017-11-13 00:21] gabrielbazan7 opened #89 "recovering BCH"
morrisonbrett:

I'm having the same issue. My older, Derivation Strategy BIP45 wallet had BTC in it pre-fork, and I'm not seeing anything in the recovery tool. Wallet ID: 4b3133503ee52b85

[2017-11-13 00:21] gabrielbazan7 commented on #86
Close this one, in order to https://github.com/bitpay/copay-recovery/issues/89

[2017-11-13 00:22] gabrielbazan7 commented on #83
Closing this one, in order to https://github.com/bitpay/copay-recovery/issues/89

[2017-11-13 13:17] gabrielbazan7 commented on #86
@morrisonbrett could you open the console and check if there is something there? Please, answer in https://github.com/bitpay/copay-recovery/issues/89

[2017-11-13 13:24] gabrielbazan7 commented on #59
@rickynkl the issue was fixed for you ?

[2017-11-13 15:27] morrisonbrett commented on #89
@gabrielbazan7 responding to your comment: https://github.com/bitpay/copay-recovery/issues/86#issuecomment-343915793.

Is there a doc with instructions on enabling the console in the distributed version of CoPay, or do I need to build it from source to enable that?

[2017-11-13 15:49] morrisonbrett commented on #89
Nothing in the console output.

![image](https://user-images.githubusercontent.com/1159718/32734532-3363a94e-c847-11e7-979c-601c6fba7dce.png)

[2017-11-13 15:52] morrisonbrett opened #91 "Browser Console Output displays 'Total balance: BTC'. It should say 'Total balance: BCH'"
Browser Console Output displays 'Total balance: BTC'. It should say 'Total balance: BCH'

Ran against Chain: bch/livenet

Console output is incorrect:

![image](https://user-images.githubusercontent.com/1159718/32734688-946dc27e-c847-11e7-8a65-35938d7683f5.png)

[2017-11-13 16:01] morrisonbrett commented on #91
Fixed in PR #92.

[2017-11-13 16:14] morrisonbrett opened #93 "When search completed, output message is confusing"
Right now it says:

Available balance: 0.00000000 BCH. Insufficents funds.

1. It should say 'Insufficient' (without the s).
2. It shouldn't display 'Insufficient funds' if the balance is 0.

[2017-11-13 16:24] gabrielbazan7 commented on #89
Could you download the project and make some tests ? Try deleting lines 313 to 326 in src -> app -> services -> recovery.service.ts . This ones:
[code]

[2017-11-13 16:37] morrisonbrett commented on #89
Just tried. Ran `npm install` and `ng serve` and I'm getting this fatal error in the browser:

[code]

[2017-11-13 17:08] gabrielbazan7 commented on #89
Sorry about that. Modified this package.json dependencies:
"bitcore-mnemonic": "1.2.5"
"bitcore-lib": "0.14.0"

Remove the ^.
Then follow the README to fix the Crypto issue.

[2017-11-13 17:13] morrisonbrett commented on #89
Got it. That fixed the runtime.

[2017-11-13 17:20] morrisonbrett commented on #89
OK. Just ran the tool locally with lines 313 to 326 removed. Same result. 0 BCH. :-(

[2017-11-13 18:17] gabrielbazan7 commented on #89
Did the tool find any active address if you set BTC instead of BCH?

[2017-11-13 18:28] morrisonbrett commented on #89
Not sure how to answer that. I left the address gap to 20 (default). And I see 'Inactive Address Streak' increment during the run. I don't see console / browser output showing if I have any 'active address'.

[2017-11-13 18:34] JDonadio commented on #89
@morrisonbrett ensure to select `all levels` if you are using Chrome.

![copay_-_copay_bitcoin_wallet](https://user-images.githubusercontent.com/13851807/32742399-17325892-c888-11e7-861d-6f0e6c1cfbd0.png)

[2017-11-13 18:43] gabrielbazan7 commented on #89
Try to modify line 80 in src -> app -> services -> recovery.service.ts. Remove `payload.addressType` and leave `P2SH` only.

[2017-11-13 18:52] gabrielbazan7 commented on #89
That is an old file backup? if the answer is yes. Could you try importing in Copay, and exporting again for new file backup?

[2017-11-13 18:55] morrisonbrett commented on #89
@JDonadio yes it's all levels.

[2017-11-13 18:56] morrisonbrett commented on #89
@gabrielbazan7 The wallet is in CoPay. I've tried both a backup I have from 01/2017 and from a few days ago.

[2017-11-13 18:57] gabrielbazan7 commented on #89
Try the first option, modify that line and try again.

[2017-11-13 19:18] morrisonbrett commented on #89
Tried modifying that line, and I got a CORS error:

![image](https://user-images.githubusercontent.com/1159718/32744459-6716b570-c864-11e7-8f35-9c0bf02eaa9b.png)

[2017-11-13 19:31] morrisonbrett commented on #89
OK. I installed a CORS chrome extension and it's running now with line 82 modified.  Console is "active addresses" on BTC, but then error for the address

![image](https://user-images.githubusercontent.com/1159718/32744978-279d72c4-c866-11e7-836b-ec01fc89a5e0.png)

[2017-11-13 19:39] gabrielbazan7 commented on #89
I seems that insight is down... Sorry.. I will tell you when it starts working again.

[2017-11-13 20:29] gabrielbazan7 commented on #89
BCH hardfork is happening right now... so, we have to wait for insight update. But, try with BTC instead of BCH, tell me if you find active addresses

[2017-11-13 23:05] morrisonbrett commented on #89
I'm not seeing any active addresses in the Console.

[2017-11-13 23:06] gabrielbazan7 commented on #89
With the line I told you modified ?

[2017-11-13 23:38] morrisonbrett commented on #89
Yes, with that line modified. None.

[2017-11-14 01:44] morrisonbrett commented on #89
Please tell me this isn't hopeless. I've been using CoPay exclusively since January. The coins were in my CoPay wallet pre-fork. Not seeing the address has me worried.

[2017-11-14 01:48] gabrielbazan7 commented on #89
Let's try to fix the problem together tomorrow.

[2017-11-14 01:48] morrisonbrett commented on #89
Thx. We can share screens if that helps.

[2017-11-14 01:48] gabrielbazan7 commented on #89
Sure !

[2017-11-14 06:08] guzba opened #95 "BCH livenet fails due to CORS header issue"
Failed to load https://bch-insight.bitpay.com/api/addr/...?noTxList=1: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://bitpay.github.io' is therefore not allowed access. The response had HTTP status code 525.

[2017-11-14 08:02] karloshagen opened #96 "BCH present in Copay wallet but website tool recovers nothing"
i have had BTC in my copay wallet pre cash fork and have recently sent the bitcoin out, i completed a scan on the copay walllet and it turned up some BCH. I cant send it from the copay ios wallet so i tried the recovery tool on the website. that turned up nothing!

[2017-11-14 09:05] #96 closed

[2017-11-14 09:08] karloshagen commented on #64
im having the same issue as @iskcheryl it just sits at the "please wait" screen, nothing displayed below

[2017-11-14 12:25] gabrielbazan7 commented on #95
We had a problem with our backend. It should be fine now. Sorry for the inconvenience.

[2017-11-14 12:29] gabrielbazan7 commented on #89
Hi @morrisonbrett, lets do this. Export your wallet without the private key, and send it to me by email. Use "1" for password.

<img width="398" alt="bitpay_-_secure_bitcoin_wallet" src="https://user-images.githubusercontent.com/10999037/32779907-329af36e-c91e-11e7-957f-c5dee483b1c0.png">

[2017-11-14 12:50] gabrielbazan7 commented on #89
I send you an email

[2017-11-14 14:54] morrisonbrett commented on #89
Replied

[2017-11-14 18:13] morrisonbrett commented on #89
How's it looking?

[2017-11-14 19:00] gabrielbazan7 commented on #89
How do you find that address with BCH ?

[2017-11-14 19:10] gabrielbazan7 commented on #89
I could find some BCH. But not all... your backup file seems to be corrupt. I modified the line I told you. No more changes to the code, only this:
[code]
the credentials object should be :
[code]

finding 6.21433319 BCH from `H6muxFAM1MYx1f3zVQ8j2dZH11CaKWYrc6`, `HC4psyg1eFmrnqwVnUYXccE1buXbxuvqtB` and `H9rTadZF2kWBpG3SARt57N6ERKrUkdrcV3`.

Let me investigate further. You are right that this addr

[2017-11-14 19:29] morrisonbrett commented on #89
Would it help if we did a screen share?

[2017-11-14 19:29] gabrielbazan7 commented on #89
No for the moment. Thanks.

[2017-11-14 19:30] morrisonbrett commented on #89
Those addresses that start with H. They're not showing up on Blocktrail: https://www.blocktrail.com/BCC/address/HFwJ6e1X54bzWZ4ZpHGSoNBt9SFkFt2g8i

[2017-11-14 19:33] gabrielbazan7 commented on #89
Try using https://bch-insight.bitpay.com/. Blocktrail do not support the new addresses convention for BCH. https://support.bitpay.com/hc/en-us/articles/115004671663-BitPay-s-Adopted-Conventions-for-Bitcoin-Cash-Addresses-URIs-and-Payment-Requests

[2017-11-14 19:35] JDonadio commented on #89
If you want to use another block-explorer you should translate it using the [address translator tool](https://bitpay.github.io/address-translator/)

[2017-11-14 20:02] morrisonbrett commented on #89
https://bch-insight.bitpay.com/address/HFwJ6e1X54bzWZ4ZpHGSoNBt9SFkFt2g8i

Looking at this, how did it get to 0 balance? I've never moved BCH. It says it was 'mined' on 08/04 and then is moved out of there.

[2017-11-14 20:48] morrisonbrett commented on #89
After running the tool, I see I can transfer 6.2 BCH.  Should I go for it?  And then we can try and recover the rest?

[2017-11-14 20:49] gabrielbazan7 commented on #89
Yes. I'm closer to make it work.

[2017-11-14 20:50] morrisonbrett commented on #89
OK.  It's on it's way to my new CoPay[BCH] wallet! https://bch-insight.bitpay.com/tx/44e53fbfee3f2863e53aa024a63a728961713b3f7e0f43b201f6072be68b9dd2

[2017-11-14 21:41] morrisonbrett commented on #89
Closer to make it work.  Fingers crossed @gabrielbazan7. Thank you!

Noticed the BCH network is slowwwww still unconfirmed transaction.

[2017-11-15 01:52] finway opened #97 "Can't retrieve BCH"
There're some BCH in my bitpay wallet :

3BATM5PbDhtsdX4r5psWkhukBg6A1M7Noz  10.3524
33ydHVjgbzjMvb3VEEhcJS9n4oB3ikvLwz  16.99730609
3PoG9HxeS9fEWkMXAfgJuh1q9Tshzofb2k  0.15039526

walletId
d2187ffa-2c24-4f0b-ad84-48f0a04a95f0

Chrome console output (addresses look strange):
Angular is running in the development mode. Call enableProdMode() to enable the production mode.
main.66692e376801e440bc6c.b

[2017-11-15 02:13] finway commented on #97
OK， it seems
bch-insight.bitpay.com
has different results than
bch-bitcore2.trezor.io

eg, 3BATM5PbDhtsdX4r5psWkhukBg6A1M7Noz shows 10.3524 balance on
https://bch-bitcore2.trezor.io/address/3BATM5PbDhtsdX4r5psWkhukBg6A1M7Noz

but  the translated address HFzZospg527YFgwswWXfj6SHDL7ApKm5DW shows 0 balance on
https://bch-insight.bitpay.com/address/HFzZospg527YFgwswWXfj6SHDL7ApKm5DW

I'm confused.

[2017-11-15 05:21] guzba commented on #95
It does seem to be better thanks very much, but still not working quite perfectly. I've ran it a few times and I am now getting a slightly different response: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://bitpay.github.io' is therefore not allowed access. The response had HTTP status code 429. (The difference is status 429 vs status 525.)

I was able

[2017-11-15 05:32] guzba commented on #95
Ah, just hit a 525 as well. Not every time I run it though.

[2017-11-15 09:01] flipflop999 opened #98 "TX created by Recovery Tool stays 'unconfirmed'"
Spent many hours trying to understand this problem.....

I had around 4.3BCH in my Copay wallet. I sent a few test 0.05BCH to test the address converter. No problems. I managed to send and successfully receive 3BCH to other addresses.
The last 1.25BCH, i sent and created a tx in the App, and i have a confirmation email.....but the tx did not ever show on the blockchain.
I then tried the recovery t

[2017-11-15 09:19] finway commented on #98
insight.bitpay.io is not working, see
https://bch-bitcore2.trezor.io/address/1NMY8akUUbbZSpL1sraeY2wpHepofECQMx
it's confirmed already.

[2017-11-15 11:08] flipflop999 commented on #98
Thats an exchange address that received my sends. The 0.05 was from the Copay App. The 0.11 was a successful sweep and send from a Blockchain.info wallet. The other activity on that address is the exchange moving coins. But what happened to the 1.25390017 BCH i sent, is my question?

[2017-11-15 11:20] finway commented on #98
Nothing happened, just another issue of bch-insight.bitpay.com

[2017-11-15 11:31] flipflop999 commented on #98
Creating a tx id, is not a nothing... ea4399c84eee15641db1c6b1528c517657ca94f3340f58f4495e411c247e46e8

But yeah, certainly issues with this wallet service.

[2017-11-15 11:52] flipflop999 commented on #98
Just done a re-scan, and the 1.25390017 BCH is again waiting to be transferred. So as far as the BCH blockchain is concerned, finway is absolutely right, nothing happened. Pretty dangerous to use wallet/services when you cant trust the information being given. Horrible.
Gonna try re-sending......

[2017-11-15 12:25] flipflop999 commented on #98
So, before i sent, i just checked my Copay phone App. One of my wallets was showing available funds again. I chose to send BCH from the phone, and not use the recovery tool to re-send. Looks like it worked (currently 1 confirm).....
553f12b5dd6b0e80027a79021b196c45822a3aaec0034d0e452578278540280f

But just to reiterate how horribly buggy and plain wrong the Copay App is....its still showing the tx

[2017-11-15 14:46] gabrielbazan7 commented on #98
Sorry, we still having problems with our backend. I will let you know when the tool start working fine again.

[2017-11-15 14:46] gabrielbazan7 commented on #97
Sorry, we still having problems with our backend. I will let you know when the tool start working fine again.

[2017-11-15 14:47] gabrielbazan7 commented on #95
Sorry, we still having problems with our backend. I will let you know when the tool start working fine again.

[2017-11-15 14:47] gabrielbazan7 commented on #89
Sorry, we still having problems with our backend. I will let you know when the tool start working fine again.

[2017-11-15 16:04] gabrielbazan7 commented on #89
I just send a PR with fix. I was able to found your BCH :) !! Could you try now ? Do a pull of master branch.  And remember to do this :
[code]

[2017-11-15 16:04] gabrielbazan7 commented on #97
I just send a PR with fix. Could you try now ?

[2017-11-15 16:05] gabrielbazan7 commented on #95
I just send a PR with fix. Could you try now ?

[2017-11-15 17:53] morrisonbrett commented on #89
YOU FOUND IT??!!!  I'm a little confused. Didn't I already do this?  Also, I don't see your PR fixing this.  Should I just pull master from your repo and run that version?

Also - I submitted a PR too for some cosmetic fixes.

[2017-11-15 18:34] gabrielbazan7 commented on #89
Yes! It's already on master.

[2017-11-15 18:45] morrisonbrett commented on #89
OK - with latest master and that line commented out - I SEE THE RIGHT BALANCE PRE-FORK!!!

Yes!!!!

I increased the BCH transaction fee to 0.005 (around $6 at today's price), and I'm re-running.  Maybe that will make the transaction confirm much sooner than the default of 0.0001.  Because my attempt to move coins yesterday is still unconfirmed.  Not trying to "double spend" here.  Hopefully this h

[2017-11-15 18:54] morrisonbrett commented on #89
OK. Just tried to send to my new Copay BCH wallet.  I got this: `Could not build tx: TypeError: Address has mismatched network type.`.

Should I run this through your [address translator](https://bitpay.github.io/address-translator/)?  Why isn't the Copay wallet generating the native address?

[2017-11-15 19:02] gabrielbazan7 commented on #89
Yes, use the address translator. Translate the address that Copay wallet is given to you and use that one on the tool.

[2017-11-15 19:07] morrisonbrett commented on #89
I'm now getting: `Please enter a valid address.`

Also, is it OK / smart that I increased the fee?

[2017-11-15 19:10] gabrielbazan7 commented on #89
Let me test it.

[code]
^ that's ok.

[2017-11-15 19:13] morrisonbrett commented on #89
I tried just now using the Bitcoin.com wallet, which I noticed is similar to Copay / Bitpay.  That receiving address didn't work either.

[2017-11-15 20:52] gabrielbazan7 commented on #89
@morrisonbrett Could you try my PR https://github.com/bitpay/copay-recovery/pull/100 ? Should be fixed.

[2017-11-15 22:12] morrisonbrett commented on #89
OK. Trying now. What about this line?:

`      addressType: payload.addressType || "P2SH",`

Should I change it to?:

`      "P2SH",\

[2017-11-15 22:40] morrisonbrett commented on #89
I did have to change that line.

[2017-11-15 23:16] morrisonbrett commented on #89
We have success!  Success criteria:

* Scan works and shows proper balance pre-fork - DONE!
* Able to send balance to new Wallet address - DONE!
* Transaction validated by BCH Blockchain - DONE!

Thank you so much @gabrielbazan7 for working through this.  I really appreciate it, and I'm sure other Copay users will too once all the updates are merged and pushed out to your tool.

[2017-11-16 01:16] finway commented on #97
I see u changed to blockdozer.com, it scanned most of my BCH, but when i entered the address 1F1mu8dJ2z3tBvx2VaqTiMoyJ4FoU6d9UL  (generated by trezor) and hit "transfer", it shows" Please enter a valid address."  Then i tried translated address   CWUfUAyMv32R64rTBLAPHsRzvBUDPej1Pt   , it shows "Could not build tx: TypeError: Address has mismatched network type."

Also, i'm sure it's not all of my

[2017-11-22 17:13] morrisonbrett opened #102 "Support for BTG"
Will you be adding support for Bitcoin Gold? Would love to "claim" my BTG balance pre-fork.

[2017-11-24 18:53] Gamboster commented on #102
Hello @morrisonbrett
The feature to claim BTG was recently added to the recovery tool..
The procedure is similar to BCH claim. You just have to select the 'btg/livenet' chain
Regards

[2017-11-25 00:29] morrisonbrett commented on #102
Happy to say it worked. I was able to transfer the coins via the tool - But, only after I changed line 86 in recovery.service.ts from:

`      addressType: payload.addressType || "P2SH",`

to

`      "P2SH",'

You guys should consider fixing the issue that's causing this.

[2017-11-25 00:41] morrisonbrett commented on #93
PR was merged. Closing.

[2017-11-25 00:41] #93 closed

[2017-11-25 00:41] morrisonbrett commented on #91
PR was merged. Closing.

[2017-11-25 00:41] #91 closed

[2017-11-25 00:42] morrisonbrett commented on #89
@gabrielbazan7 this issue can be closed, although I think you should somehow incorporate the [fix](https://github.com/bitpay/copay-recovery/issues/89#issuecomment-344746059) you had me do into your repo.

[2017-11-25 16:00] Stoinkler commented on #102
This tool isn't finding my coins, are we sure it's working? It seems to import and search through the wallet ok, but there should be a balance and when it's done it says zero.

[2017-11-25 18:18] morrisonbrett opened #108 "Support for BCD"
https://coinmarketcap.com/currencies/bitcoin-diamond/

ANOTHER Hard fork.  Will you be adding support for Bitcoin Diamond? Would love to "claim" my BCD balance pre-fork.

[2017-11-25 18:25] morrisonbrett commented on #108
Closing until a real BCD core client is available.

[2017-11-25 18:25] #108 closed

[2017-11-26 04:11] matiu commented on #102
@Stoinkler be sure you are selecting the right chain.

[2017-11-26 11:28] Stoinkler commented on #102
@matiu I am. Was the issue mentioned by morrisonbrett above fixed? I am trying to import a 2-of-3 multisig wallet.

[2017-11-26 12:14] matiu commented on #102
Ill check that.later today. If this a fairly old multisig wallet? ( trying
to identify the issue)

On Nov 26, 2017 08:28, "Stoinkler" <notifications@github.com> wrote:

[2017-11-26 14:22] Stoinkler commented on #102
No, created 8/4 this year.

[2017-11-29 02:17] Stoinkler commented on #102
Any update on this? I tried building myself with the change suggested above but don't know how to get the dependencies working to run "ng serve"

[2017-11-29 06:54] maJestytyty commented on #89
Hi, I have 1 question about the BitPay Recovery Tool. Where it asks for the following...
**_Backup for copayer 1:
Recovery phrase (mnemonic) or File/Text backup_**

... should I insert the recovery phrase of my Bitcoin wallet at the time of the fork?
Or should I insert the recovery phrase of my new Bitcoin Cash wallet?

Looking forward to any input on this matter. Thanks!

[2017-11-30 03:14] gabrielsoltz commented on #102
Same as @Stoinkler for me.
Could it be what @morrisonbrett says ?
Thanks in advance...

[2017-11-30 11:14] matiu commented on #102
we will look at this issue today. thanks for the report.

[2017-11-30 16:59] morrisonbrett commented on #102
Thanks @matiu. I see it in this PR: https://github.com/bitpay/copay-recovery/pull/109

[2017-12-01 02:47] PeterDavid33 opened #110 "Copay 2-2 Signature Wallet Problem"
So my business partner and I created a shared wallet but my business partner deleted the app off his phone and misplaced the recovery phrase. But I still have my recovery phrase to that wallet so my question is, Can we still recover the funds if one of us still has our recovery phrase? If so, How would we go about doing that?

[2017-12-03 00:17] martyzigman commented on #102
@morrisonbrett, I don't see _recovery.service.ts_ in the this recovery tool to do your suggested fix for

addressType: payload.addressType || "P2SH",

to

"P2SH",

[2017-12-03 00:56] Stoinkler commented on #102
The recovery tool should work if I only enter two mnemonics of a 2-of-3 multisig correct?

[2017-12-03 01:11] martyzigman commented on #102
I was able to get balances for my 2-of-3 multisig.  I did not need to do the addressType fix as suggested to find the balances found.

[2017-12-03 16:05] morrisonbrett commented on #102
@martyzigman that's great.  The PR #109 isn't merged as of the time of this comment.  Hopefully it will be soon and other users that have run into this will be able to also free their coins.  There's also another PR #107 that isn't merged as of the time of this comment that increases the fee.

[2017-12-03 19:09] martyzigman commented on #102
@morrisonbrett makes sense now.  I'll standby for the merge and when ready, I can test.

[2017-12-08 19:52] gabrielbazan7 opened #111 "Paper Wallet Private Key Support"

[2017-12-09 21:11] kater19 opened #112 "Used recovery tool and sent funds, transaction not found"
I used the copay recovery tool and recovered funds from a wallet. Added the address to send to, received confirmation on recovery tool page and took screenshot - went to check on blockchain to find that the transaction doesn't exist. SO WHERE DID MY BITCOINS GO? this is the 7th time I'm posting in the support forum for different issues regarding biopsy and copay wallets and received no help whatso

[2017-12-15 00:47] NZKrypto opened #113 "Cannot send BCH"
I have tried to send BCH to different exchanges and wallets but each time I get "Please enter a valid address." I have tried this over two months, so it's not just an issue today.

The balance shown in copay recovery is correct.

Any ideas please?

Thanks

[2017-12-16 11:59] Azdrian3 opened #114 "Recovering multisig & BWS"
I was wondering if there is an issue with the wallet service url, it's stil the same BWS server. Copay show us no founds when we did activate the BCH, We're on 2 of 3 multisig and for some security reason we would prefer to not have to export the privates keys and do it directly on Copay.
Thank you

[2017-12-17 10:09] Tiwaz42 commented on #113
I'm having the same issue. Not that Crypto-savvy, so I really have no idea how to fix this. Any ideas?

[2017-12-19 09:34] Condebk717 opened #115 "Still in search of my private key"
still in search of my BTC.com private key please, i cant i cant loose such money, help me.

[2017-12-20 15:48] billytsi commented on #102
Has the problem been solved? I tried to use the recovery tool for the btg and search came back zero. Thank you

[2017-12-20 16:14] billytsi commented on #102
@matiu has the issue been solved? I did the recovery tool and it says my balance is zero btg. Thank you for help

[2017-12-21 03:02] NZKrypto commented on #113
Please can an expert offer some advice.

Thanks

[2017-12-24 14:14] urbansi commented on #102
Claiming BTG from multisig fails. It finds BTG corectly, but when you want to transfer to btg address (nano leger s) it just goes on forever.

[2017-12-24 16:28] k2a0 commented on #102
How can i STOP it

[2017-12-26 02:58] billytsi commented on #102
Terrible. Mine says zero and it's no way zero! Either post a proper link with step by step instructions or better yet do it the same way you did it with bch on our wallets.

[2017-12-26 03:11] fandorin1977 opened #116 "Problem recovering shared wallet having both private keys"
Dear copay team,
Have a shared wallet with balance it in. It’s a 2-2 wallet created in copay. One of the parties reinstalled copay on a new phone and tried to either join or restore the wallet.

Joining gives a messages that the wallet is full.
Resorting with the secret phrase creates a new wallet with 0 BTC in it.

The other party has the wallet with balance it it.

Tried to use the recovery tool

[2017-12-26 04:07] k2a0 commented on #116
How dk I recover my wallet and how tl i send ot to mh bank?

[2017-12-26 15:32] shawnp0wers opened #117 "BIP45 Wallet Worked, Transaction in Limbo"
I ran the copy-recovery on my old Copay wallet (BIP45), and it found BCH, created a transaction, and I thought all was well. Unfortunately, the transaction appears to "come and go", meaning the block explorer will say no such transaction, or show the transaction randomly.

Assuming the transaction is in fact valid, and in the mempool, I suspect the EXTREMELY low fee which was applied is the cause

[2017-12-26 17:08] rrkubli commented on #113
I am having the same issue @gabrielbazan7

[2017-12-26 17:16] gabrielbazan7 commented on #113
Hi ! Take a look to the Copay FAQ : https://github.com/bitpay/copay/wiki/COPAY---FAQ#i-cant-send-bch.

[2017-12-27 00:00] shawnp0wers commented on #117
Ha! After several days, the transaction went through!

I actually got the raw transaction and published it on a few other blockchain monitor sites (trezor, btc.com) -- and for whatever reason it did finally get included in a block. That said, it is probably still worth changing the transaction fee.

Feel free to close this, I'm leaving it open so the devs see the fee issue.

[2017-12-27 07:19] NZKrypto commented on #113
Thanks for your reply however, I am still lost.

I have looked in Copay and my addresses start with C.

I have copied into the address converter and got new addresses starting
with 1.

In Copay I now have separate wallets, for the original BTC which is zero
balance, and a duplicate for the BCH.When I try to send BCH I get a message
saying "Insufficient funds" because it is trying to send BTC.

If

[2017-12-27 12:39] gabrielbazan7 commented on #113
Translate the addres from the exchange or wallets using the tool, you will get an address that start with C. Then, in Copay use that address as recipient, then by clicking on the currency change it to BCH, enter the amount, choose your bch wallet and confirm the transaction.

[2017-12-27 12:41] Tiwaz42 commented on #113
It worked for me after I updated my wallet (important!) and translated the address using the tool cited above. At that point I could send the BCH 'back' to my wallet and then on to an exchange. Good luck!

[2017-12-27 23:48] NZKrypto commented on #113
Yeeha!  Thanks you so much - it's worked.

I REALLY appreciate your help.

Best regards

On Thu, Dec 28, 2017 at 1:39 AM, Gabriel Edgardo Bazán <
notifications@github.com> wrote:

[2017-12-28 03:00] rrkubli commented on #113
Thanks for the comments.  Great it worked for you as well, thanks for the
support, worked from the get go.  Ralf

On Wed, Dec 27, 2017 at 6:48 PM NZKrypto <notifications@github.com> wrote:

[2017-12-29 15:16] remnant-martin commented on #113
hey guys, am facing the same prob. where do u find the tool option to translate the wallet

[2017-12-29 18:38] rrkubli commented on #113
https://github.com/bitpay/copay/wiki/COPAY---FAQ#i-cant-send-bch
On Fri, Dec 29, 2017 at 09:16 remnant-martin <notifications@github.com>
wrote:

[2017-12-29 18:44] rrkubli commented on #113
The link below worked for me. It seems a bit like a leap of faith but i used a bitcoin address afterwards to store bch on paperwallrt and worked well

[2017-12-29 21:28] NZKrypto commented on #113
Look back in the thread - the link is there.

I've deleted the thread at my end so I can't give it to you exactly, but
it's just a few days ago.

On Sat, Dec 30, 2017 at 4:16 AM, remnant-martin <notifications@github.com>
wrote:

[2017-12-29 22:38] remnant-martin commented on #113
thank you so much

On Sat, Dec 30, 2017 at 12:28 AM, NZKrypto <notifications@github.com> wrote:

[2017-12-29 22:40] remnant-martin commented on #113
it has worked for me, i thout i would never get them, thank you so much

On Sat, Dec 30, 2017 at 1:38 AM, jmukiibi martin <jmukmartin11@gmail.com>
wrote:

[2017-12-31 11:25] jorge64 opened #118 "I kept my 12 word phrase for recovery but it doesnt work"
When I joined Copay I kept the phrase safe, but now when I need it it seems not to work.
Somehow my wallet disappeared, so I tried to import it. I copied and pasted the phrase (no writing mistakes then) but it doesnt recognize it
Help !!! I lost all of my funds!!!

[2017-12-31 22:05] boydoscassinos opened #119 "CAN'T GET MY BTG FROM THE RECOVERY TOOL !"
It finds out the BTG and etc, but when it's time to SEND it to the BTG wallet, it keeps loading forever and there is an error found / showing on the console saying

- error: "66: min relay fee not met. Code:-26" }

and it does not send my money!

PLEASE FIX THAT GUYS, I WANT MY BTG MONEY BRO !

[2017-12-31 23:09] boydoscassinos commented on #119
WHAT IS THE SOLUTION FOR THIS GUYS ?
I NEED MY MONEY MAN !!!
THERE IS OVER $1000 IN BTG FOR ME TO CLAIM AND I WON'T LET THIS MONEY GO BECAUSE OF YOU

SO PLZ MAKE A FIX FOR THE BTG RECOVERY TOOL ASAP !

[2018-01-01 07:35] robert-claypool commented on #119
A work-around is here: https://github.com/bitpay/copay-recovery/pull/107#issuecomment-354628002

[2018-01-03 14:11] kater19 commented on #112
Can someone at the very least reply to one of my posts?!?

[2018-01-08 14:20] yesmrc opened #120 "Copay Recovery - incomplete ?!"
My phone broke and had to go to be repaired. It was factory reset so i lost my copay wallet. I tried to restore with the 12 word phrase and it came back. Now , does my 12 word pass phrase change at this point ? I just depleted it without backing up again as I put it on a different device. Now I'm struggling to get my copay and it won't recover. Did I fuck up and should I have backed up again once

[2018-01-08 14:44] yesmrc commented on #118
I'm having a similar problem , have you sorted it ?

[2018-01-09 14:38] fandorin1977 commented on #116
Guys,
Any thoughts on this?

[2018-01-14 14:49] PxSonny commented on #108
Is there now? I would be interested to retrieve my BCD now.

[2018-01-14 14:50] SonnyAD commented on #108
Is there now? I would be interested to retrieve my BCD now.

[2018-01-27 07:10] guzba commented on #95
I did not run into this the last time I tried. Closing the issue. Thanks for the fix!

[2018-01-27 07:10] #95 closed

[2018-02-07 06:16] kniraj commented on #83
Hi I am still not able to retrieve the BCH is there some update on this
issue ?

Regards
Niraj

On Mon 13 Nov, 2017, 5:52 AM Gabriel Edgardo Bazán, <
notifications@github.com> wrote:

[2018-02-10 02:14] jackyxie opened #121 "recovery tool cannot show change address and it's privkey"
Excuse me,
      I use recovery tool to export privkey from seed, but I cannot get change address. So it's not able for me to get fork coins in privkey.

[2018-03-02 18:52] maracarioca opened #125 "BTG RECOVERY NOT WORKING !"
This is the error that is showing when i try to recover my BTG.

error: "66: min relay fee not met. Code:-26" }

ANY HELP ON THIS PLZ  ????????

I need to recover my money man.

[2018-03-02 18:53] maracarioca commented on #125
i can give a '' $$ tip '' to someone who can help recovering my money

[2018-03-21 18:58] morenopc commented on #95
I'm getting this error trying to recover BTG (Bitcoin gold)

[code]

[2018-03-21 20:03] morenopc commented on #102
I'm getting this CORS header error trying to recover BTG (Bitcoin gold). But It worked for BTC and BCH.
[code]

[2018-03-21 20:03] morenopc commented on #64
I'm getting this CORS header error trying to recover BTG (Bitcoin gold). But It worked for BTC and BCH.
[code]

[2018-04-24 09:39] joppedes opened #126 "BTCP recovery"
Hi,

Please add BTCP support.

[2018-04-24 11:34] matiu commented on #126
There is no plans to support BTCP, but if a PR is sent, it will be reviewed and probably merged. thanks.

[2018-04-24 11:34] #126 closed

[2018-05-16 20:51] matiu commented on #118
what error are you getting?

Make sure not to enter a space before of after the 12 words, the words are
normally lowercase by sure to respect that.

On Wed, May 16, 2018 at 3:28 PM, neracha <notifications@github.com> wrote:

--
Matías Alejo Garcia
@ematiu
Roads? Where we're going, we don't need roads!

[2018-05-22 14:54] Ayzex commented on #64
Hello,
I found the coins but It's stuck on processing transfer? Does this really take a few mins or should i wait a few hours? or do I just keep trying if it didn't work in some mins?
Would really appreciate an answer

[2018-05-25 00:48] Rainmaker42 opened #127 "BCH found but stuck on transfering "Please wait this process may take a few minutes""
Hello, I'm having an issue with the copay-recovery software.  I've found my BCH but I'm having trouble sending the BCH to my wallet.  It accepts the address but its stuck on the loading screen for atleast 30 minutes to an hour last I checked.  Should I be waiting or is there another solution?  Thank you.

[2018-05-28 13:33] gabrielbazan7 commented on #127
Are you still having this issue?

[2018-06-14 17:14] Symos404 commented on #127
I seem to be having this issue myself

[2018-06-14 18:02] Rainmaker42 commented on #127
Sorry for the late reply - this got out in the spam.  So I was able to solve mine by creating the wallet with the same address and password using their application.

[2018-06-15 11:21] RAJESH105 commented on #67
i used copay wallet recovery tool.i recovered wallet with bitcoin.when sending in another wallet it giving error message that incorrect address network why?

[2018-06-16 07:28] Symos404 commented on #127
What do you mean exactly?

[2018-06-18 12:04] Symos404 commented on #127
I have attempted using the pass phrase in other things, so far I am unable to transfer the funds the recovery tool says I have because I sent BCH to the BTC wallet. I have tried exporting private keys and so far the recovery tool is the only thing that says I have anything, but refuses to actually send anything. It just says "Please wait This process could take several minutes" Yet nothing. Not fo

[2018-06-18 12:31] Rainmaker42 commented on #127
Go to bitpay and create a BTC wallet via Import wallet option.  Input your passphrase and select btc wallet and see if that works for you.

[2018-06-18 12:32] Symos404 commented on #127
Tried that. No luck

[2018-06-27 13:56] Symos404 commented on #127
Update: Punched in my 12 word passphrase into Exodus Eden (Used Eden as I had a thing going with the stable version) Went into the dev menu and scanned for pre-fork BCH, Found it and sent to a BCH wallet. Funds recovered

[2018-07-19 05:36] jiahengzhang opened #128 "Recover Tool doesn't work for BCH"
Hi guys i just started try to claim BCH and BTG with the copay recover tool. i have successfully found BTG and transfer was smooth and easy. but somehow it shows "Available balance: 0.00000000 BCH" after the "Search". i did it exactly the same way as i did for BTG, but BCH doesn't work. Can anyone help me here?

Thanks!

[2018-07-27 08:33] got3nks opened #129 "Recovering 2-of-3 without one of the keys backup"
One of the keys backup was lost, can the Recovery Tool at https://bitpay.github.io/copay-recovery/ be used with just 2 of the 3 keys (since only 2 signatures are required to send a transaction)?

[2018-07-30 16:45] got3nks commented on #129
What is the technical reason all the 3 backups are required even if it's a 2 of 3 setup?

[2018-07-30 17:50] matiu commented on #129
In other to derive the wallet's addresses you need to have *all* the public keys. In order to sign a transaction, you only need the required keys.

Copay "export" backups have all the wallet's public keys (yours and all other copayers) and only your private key. You can recover a, eg, 2-of-4 wallet by having 1 Copay "export" backup, and one other mnemonic.  But not with only 2 mnemonics, because y

[2018-07-30 17:50] #129 closed

[2018-08-13 14:33] jonathansmirnoff opened #130 "Recovery problem! - I need source code!"
I need to recovery founds from a multi sign wallet. The wallets required 2 signers of 3 copayers. I don't understand why this tool asks the 3 seed if I need only 2 to sign the transaction.
Can anyone explain me this?
Is there a way to see the source code? I only see here the boundle files

[2018-08-13 14:45] matiu commented on #130
Source code is at the master branch:

https://github.com/bitpay/copay-recovery/tree/master

All the public keys are needed, in order to derive the wallet addresses, to scan the funds.

See more at:

https://github.com/bitpay/copay/blob/master/README.md#copay-backups-and-recovery

[2018-08-13 14:45] #130 closed

[2018-11-06 15:57] ga8ri3l commented on #112
The same happened to me...

How did you solve it?

[2018-11-06 16:40] kater19 commented on #112
LMAO ....it was never solved

On Tue, Nov 6, 2018 at 9:57 AM ga8ri3l <notifications@github.com> wrote:

[2018-11-06 18:08] matiu commented on #112
Hi,

In order to help you, we need information about the wallet in particular.

Do you have the transaction ID the tool reported after it finished?

[2018-11-07 05:16] ga8ri3l commented on #112
Hi there

Yes, the tool reported this:
[image: image.png]

I sent it to a Copay BCH Wallet, but I haven't the transaction ID. It never
apper in the blockchain.

Please help me

Gabriel J. Benitez A.

El mar., 6 nov. 2018 a las 14:08, Matias Alejo Garcia (<
notifications@github.com>) escribió:

[2018-11-07 05:51] ga8ri3l commented on #112
![image](https://user-images.githubusercontent.com/34378468/48113042-74758800-e22f-11e8-9c55-4e3c54939db1.jpeg)

This is the image i got that the tool reported.

[2019-02-23 11:43] wormdz commented on #64
@lskcheryl , hello
have you find solution for your problem , please help me , i have a same problem
thank you

[2019-06-26 18:40] mikeaprado opened #143 "problems with walllet"
I made a cell phone change and I thought that with the 12 words I could re-enter my wallet but I could not.

[2019-07-11 00:37] ashwilly commented on #67
Firstly, you shouldn’t lose a bitcoin wallet because of how precious it could be. You can also secure your bitcoin wallet by enabling the two-factor authentication. This is gonna protect your wallet for you with a private password you will generate yourself. So in case there’s external source tryna get in or in a case of hack, you get alerted immediately. Also, try and use the licensed and regulat

[2019-07-11 01:19] ashwilly commented on #59
I know someone who once helped me with steps to recover for my wallet, I don't know if you still need to talk to him, or you can PM him on cheng66 @ protonmail . ch

[2019-07-11 11:56] rickynkl commented on #59
Thanks. Ive recovered them.

On Thu, 11 Jul 2019 at 9:19 AM, ashwilly <notifications@github.com> wrote:

[2019-09-06 00:04] eakzaza30 commented on #67
Hello world helelp

[2019-09-06 06:25] Pius689 commented on #67
what exactly do you need help with ?

[2019-09-30 20:45] #115 closed

[2020-04-08 13:04] swinSpo opened #149 ""Could not broadcast transaction. Please, try later. Raw: [...] ""
Hi, i am getting this error from the recovery tool

I have sent some payments to my bitpay wallet about a week ago and they are still showing as "unconfirmed"

When i use the recovery tool, it detects my balance but when i try to transfer it to a different wallet, i get the above error

"Could not broadcast transaction. Please, try later. Raw: [...] "

Please help

[2020-06-16 13:46] naldo-crypto opened #150 "trying the recovery tool but cant recover my BTCs - please heeeelp"
Hi, I have successfully transfered my BTCs into a brand new IOS Copay wallet back in November 2017, wrote down the 12 words (it gave me spanish words) and secured transfers and access to the seed with a password.  My phone broke, installed the new app but now I cant seem to access the wallet.

I am trying the recovery tool, using the btc/livenet network, tried different addresses gaps (up to 80 no

[2020-06-16 14:01] naldo-crypto commented on #150
just as an additional information, the copay address generated back then was a BASE58 (P2PKH)

[2020-06-16 18:51] naldo-crypto commented on #118
I have the same issue, did anyone find a solution ??  tried the recovery tool and everything...  my funds are lost !

[2020-09-01 22:12] peanut-brittle opened #151 "BSV scan never finishes"
I successfully used the recovery tool to get BCH, but for some reason the BSV scan never finishes. It just stops progressing part way through and doesn't advance further even if I let it go for hours. I also tried a couple months ago and at that point the BSV scan stopped even earlier in the process.

I'm on OSX Catalina, using Safari. I have the address gap at 100 because that's what it took to r

[2020-10-09 12:59] mlarzelere opened #152 "Recover BCH"
[
![BCH purchase confirmation](https://user-images.githubusercontent.com/17997361/95585458-409fd000-0a0d-11eb-83d2-c7e305928920.png)
![BCH Trasnactions](https://user-images.githubusercontent.com/17997361/95585675-86f52f00-0a0d-11eb-8e8d-62f8e1d3516e.png)
I can't recover the BCH address.

[2021-02-23 17:23] mikeaprado18 commented on #118
yo tambien tengo el mismo problema tengo las 12 palabras y no ha manera me recupera una cartera vacia........si alguien encuentra una solucion vale oro..................

[2021-03-27 17:49] ditdonc commented on #150
It is the same for me. Do you have any solution now ?

[2021-08-23 02:26] dettyjosh opened #156 "How can I recover my recovery phase"

[2021-09-23 13:38] Curay1954 opened #157 "sumcoins in wrong wallet"
I paid 45600 requested by Sumcoin to release my funds to the bank and nothing happened
Is this a scam? I paid 4 weeks ago but I can't find my money

[2021-09-23 13:39] Curay1954 commented on #157
I need somebody to help me get my funds
Raymond Bailly

[2021-09-25 19:46] Curay1954 commented on #157
Bitpay: are you able
To move sumcoins from slice wallet

Shjn1gLPKF6n1Et9uFFmsorx4x5Sdi8qJH  to; slice wallet

SbJsmsH2DF5cQsTNrfWHyVvKQrJ7NqRrXc

After the reposition is complete let me know to be able to send funds to boa as soon as possible

[2021-10-03 22:28] Curay1954 commented on #157
I can get to the slice wallet where the funds were sent

[2022-03-28 06:28] richardsuns commented on #150
@naldo-crypto
did you restore your wallet?
i have recovered similar wallet

[2022-10-11 08:32] naldo-crypto commented on #150
Hi ! Nope I did not recover such wallet yet.  What method did you use ?
Thanks !

El lun, 28 de mar. de 2022 03:28, wallet recovery service <
***@***.***> escribió:

[2022-11-01 04:27] Densequera opened #158 "Could not broadcast to retrieve funds. What to do?"
![image](https://user-images.githubusercontent.com/17044067/199158611-9f385c00-501f-403e-8de2-449adaa5b00f.png)